#header{
background-image: url("../assets/backgrounds/h_img.jpg");
background-size: cover;
height: 80vh;
background-position: relative;


}

#text{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 40px;
}
#p{
    font-size: 10px;
    color: white;
}
.meme{
    text-align: center; 
    
}

#about{
    text-align: center;
    font-size: "54px";
    height: 50vh;
    margin-top: 90px;
    
}
#service{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 70vh;
    font-size: "34px";
}
.text-sh{
    text-align: center;
    font-size: 13px;
    color: white;
    font-size: "54px";
    
}
#text-sp{
    margin-top: "100vh";
    text-align: center;
    color: white;
    font-size: "54px";
}
.work{
    height: "60vh";
}
.col-md-4{
    text-align: center;
}

#contact{
    background-image: url("../assets/backgrounds/c_image.jpg");
    height: 60vh;
    background-position: relative;
    background-size: cover;
}
.contact-us{
    text-align: center;
    font-size: "15px";
    color: white;
}
#showing{
    display: none;
}
  .hide{
      display: none;
  }
  input{
      background: none;
  }
  textarea{
      background: none;
      color: white;
  }
::placeholder{
    color: white;
}
